@model JobCheckerViewModel

@{
    ViewData["Title"] = "Job Checker";

    List<int> years = [];
    int startYear = 2013;
    int endYear = Model.SelectedYear;

    for (int i = startYear; i <= endYear; i++)
    {
        years.Add(i);
    }
}

<select class="form-select">
    @foreach (int year in years)
    {
        <!option value="@year" @(year == endYear ? "selected" : "")>@year</!option>
    }
</select>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Is Featured</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var child in Model.ListOfCompines)
        {
            <tr>
                <td>@(child.Name)</td>
                <td>@(child.IsFeatured)</td>
            </tr>
        }
    </tbody>
</table>